# UAS Pengenalan Pemrograman - AgroSmart Farm

Proyek website Company Profile untuk startup pertanian modern AgroSmart Farm.

## Fitur Website
- **Single Page Navigation**: Navigasi mulus antar section.
- **Responsive Design**: Tampilan optimal di berbagai perangkat.
- **Online Registration**: Formulir pendaftaran kunjungan terintegrasi.
- **Edukasi Smart Farming**: Menampilkan program berbasis IoT.

## Teknologi yang Digunakan
- HTML5
- CSS3 (Custom Styles)

## Author
- Nama: [Muhammad Bilal Abdulhaq]
- NIM: [2510614033]